body {
  background-image: url("grand_central.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Palatino;
  font-weight: bold;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-size: 5vw;
  /* Responsive font size */
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  margin-top: 2vw;
  /* Responsive margin */
  margin-bottom: 2vw;
  /* Responsive margin */
}

h2 {
  font-size: 4vw;
  /* Responsive font size */
  margin-top: 0;
  margin-bottom: 2vw;
  /* Responsive margin */
}

button {
  border: none;
  padding-top: 2vw;
  /* Responsive padding */
  padding-bottom: 2vw;
  /* Responsive padding */
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2vw;
  width: 25vw;
  /* Responsive width */
  margin-bottom: 1vw;
  /* Responsive margin */
  border-radius: .5vw;
  /* Responsive border radius */
}

#increment-btn {
  background: rgba(248, 250, 113, 255);
}

#increment-btn:hover {
  background: rgba(210, 220, 83, 0.828);
}

#save-btn {
  background: rgba(153, 218, 196, 255);
}

#save-btn:hover {
  background: rgba(113, 165, 142, 255);
}

.container {
  background: #eeeeee;
  opacity: 85%;
  border: 3px solid black;
  border-radius: .5vw;
  max-width: 80vw;
  /* Responsive maximum width */
  margin: 0 auto;
  /* Center the container */
  padding: 2vw;
  /* Responsive padding */
}

#save-el {
  font-size: 2vw;
  font-weight: bold;
}