body {
  background-image: url("subway_station.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Palatino;
  font-weight: bold;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-size: 5vw;
  /* Responsive font size */
  margin-top: 2vw;
  /* Responsive margin */
  margin-bottom: 2vw;
  /* Responsive margin */
}

h2 {
  font-size: 4vw;
  /* Responsive font size */
  margin-top: 0;
  margin-bottom: 2vw;
  /* Responsive margin */
}

button {
  border: none;
  padding-top: 2vw;
  /* Responsive padding */
  padding-bottom: 2vw;
  /* Responsive padding */
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 40vw;
  /* Responsive width */
  margin-bottom: 1vw;
  /* Responsive margin */
  border-radius: 1vw;
  /* Responsive border radius */
}

#increment-btn {
  background: rgb(245, 255, 98);
}

#increment-btn:hover {
  background: rgba(210, 220, 83, 0.828);
}

#save-btn {
  background: rgb(51, 241, 206);
}

#save-btn:hover {
  background: rgb(37, 197, 168);
}

#passenger-counter {
  border-style: solid;
  border-color: black;
  max-width: 80vw;
  /* Responsive maximum width */
  margin: 0 auto;
  /* Center the container */
  padding: 2vw;
  /* Responsive padding */
}